.profile-container {
    max-width: 400px;
    margin: auto;
    background: white;
    border-radius: 20px;
}

.profile-image {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.camera-icon {
    position: absolute;
    bottom: 10px;
    right: 40%;
    transform: translateX(50%);
    background: #f9ff43b3;
    border-radius: 50%;
    padding: 10px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.menu-list li {
    padding: 10px;
    border-top: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
}

.menu-list li i {
    padding-right: 10px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #000000;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.bottom-nav button {
    color: #000;
    border: none;
    font-size: large;
    cursor: pointer;
    background-color: transparent;
}

.icon {
    font-size: 25px;
}